*{
    box-sizing: border-box;
    border: 1px solid black;
}

header,
footer {
    border: 1px solid black;
    height: 200px;
    width: 100%;
    clear: both;
}

section {
    float: left;
}

header + section {
    height: 300px;
    width: 100%;
}

header + section + section {
    height: 400px;
    width: 35%;
}

header + section + section + section {
    height: 400px;
    width: 65%;
}