*{
    box-sizing: border-box;
}

header,
footer {
    border: 1px solid black;
    height: 200px;
    width: 100%;
    clear: both;
}

section {
    border: 1px solid black;
    height: 300px;
    width: 33.3333%;
}

div{
    border: 1px solid black;
    height: 400px;
    width: 50%;
}

section,
div     {
    float: left;
}